name: Build Android APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Fix wrapper if broken
        run: |
          if [ ! -f "gradle/wrapper/gradle-wrapper.jar" ]; then
            VERSION=$(grep distributionUrl gradle/wrapper/gradle-wrapper.properties | sed -n 's|.*gradle-\([0-9.]*\)-.*|\1|p')
            wget -q https://services.gradle.org/distributions/gradle-$VERSION-bin.zip
            unzip -q -j gradle-$VERSION-bin.zip "gradle-$VERSION/gradle/wrapper/gradle-wrapper.jar" -d gradle/wrapper/
          fi


      - name: Build Debug APK
        run: ./gradlew assembleDebug

      - name: Find all APKs
        run: find . -type f -name "*.apk"

      - name: Upload Debug APK
        uses: actions/upload-artifact@v4
        with:
          name: debug-apk
          path: '**/*.apk'
